<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <script src="static/pixi.js" defer></script>
    <script src="static/utils.js" defer></script>
    <script src="static/events.js" defer></script>
    <script src="static/transport.js" defer></script>
    <script src="static/sprite.js" defer></script>
    <script src="static/unit.js" defer></script>
    <script src="static/draw.js" defer></script>
    <script src="static/canvas_draw.js" defer></script>
    <script src="static/game.js" defer></script>
    <script src="static/main.js" defer></script>
</head>
<body>
    <div id="div-map">
        <div id="map" oncontextmenu="return false;"></div>
    </div>

</body>
</html>