<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <script src="static/events.js" defer></script>
    <script src="static/transport.js" defer></script>
    <script src="static/draw.js" defer></script>
    <script src="static/game.js" defer></script>
    <script src="static/main.js" defer></script>
</head>
<body>
    <div id="div-map">
        <canvas id="map" width="1000" height="800">
            <p>Ваш браузер не поддерживает рисование.</p>
        </canvas>
    </div>

</body>
</html>